# OpenAI API Key
OPENAI_API_KEY=your_openai_key_here
# OR Google Gemini API Key
GOOGLE_API_KEY=your_google_key_here

# OpenAI
OPENAI_MODEL=gpt-5-nano
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Google Gemini
GOOGLE_MODEL=gemini-2.5-flash-lite
GOOGLE_EMBEDDING_MODEL=models/gemini-embedding-001

# PgVector
PGVECTOR_URL=postgresql://postgres:postgres@localhost:5432/rag
PGVECTOR_COLLECTION=document_collection
